<div class="test">

<h1>{{titre}}</h1>
<br>
<div class="descriptionModule">
  5 modules simples propre a angular: fonction au clique, 2 way binding, affiche objet date, incrementation nombre
</div>
<br>
<br><br>

<div class="btnComponent">
  <button class="btnExo1" routerLinkActive='active' > Boutton Alerte</button>
  <button class="btnExo1" routerLinkActive='active' > Changer texte au clique</button>
  <button class="btnExo1" routerLinkActive='active' > Show Date</button>
  <button class="btnExo1" routerLinkActive='active' > increment Number</button>
</div>
<buttonAlert></buttonAlert>
<textChange></textChange>
</div>
