ul li {
  cursor: pointer;
  color: black;
  list-style-type: none;
}

.surligner{
  text-decoration: line-through;
  color: rgb(182, 174, 190) !important;
}

.descriptionModule{
  display: inline-block;
  border: 2px solid red;
  padding: 2%;
  border-radius: 10px;
color: #207cca;
}
